<section id="aboutus" class="about_bg text-white">
    <br><br>
    <h1 class="section-title text-center mt-3 mb-2">Sobre nosotros</h1>
    <div class="about_section">
        <h5>
            <p>Nuestro servidor es un lugar de encuentro y diversión. compartimos un espacio común para entretenernos y
            jugar juntos,
            especialmente en nuestro servidor de Minecraft.
            <br> Aunque ultimamente estamos muy alejados de jugar juntos
            aun sigue estando nuestro serivdor activo.
            <br><br>Todos son bienvenidos a unirse a nosotros y pasar un buen rato.
            esta pagina solo es para mostrar un poco de lo que somos y lo que hacemos  y solo es para divertiros un rato. (tuvimos que aceptar a julie lamentablemente).
           </p>
            <p class="mt-3">no tiene publicidad ni nada por el estilo, solo esta construida para
                la diversion y nomas programamos por diversion (y dinero mas por dinero que diversion).</p>
            <p class="blod text-center mt-2">alejense de las drogas niños despues quedan como nosotros.</p>
        </h5>
        <br>
        <br>
    </div>
</section>