
<div class="chat-app">
    <div class="chat-sidebar">
      <div class="chat-header">
        <h2>Chats</h2>
      </div>
      <div class="chat-list">
        <div class="chat-item" *ngFor="let chat of chats" [routerLink]="[chat.uid]">
            <a routerLink="{{chat.uid}}" style="text-decoration: none; color: black;">
          @if(chat.user_two.linkavatar){
            <img [src]="chat.user_two.linkavatar" alt="Profile Picture" class="chat-avatar">
          }@else{
            <img src="https://res.cloudinary.com/dikpupfzu/image/upload/v1525474876/profile_avatar.png" alt="Profile Picture" class="chat-avatar">
          }
          <div class="chat-info">
            @if(user.id!=chat.user_one.id){
              <div class="chat-name">{{chat.user_one.email}}</div>
            }@else{
              <div class="chat-name">{{chat.user_two.email}}</div>
            }
            <div class="chat-preview"></div>
          </div>
        </a>
        </div>
      </div>
    </div>
    <div class="chat-window">
        <router-outlet></router-outlet>
    </div>
  </div>