
<div class="chat-app">
    <div class="chat-sidebar">
      <div class="chat-header">
        <h2>Chats</h2>
      </div>
      <div class="chat-list">
        <div class="chat-item" *ngFor="let chat of chats" (click)="selectChat(chat)">
            <a routerLink="{{chat.uid}}" style="text-decoration: none; color: black;">
          @if(chat.users[0].linkavatar){
            <img [src]="chat.users[0].linkavatar" alt="Profile Picture" class="chat-avatar">
          }@else{
            <img src="https://res.cloudinary.com/dikpupfzu/image/upload/v1525474876/profile_avatar.png" alt="Profile Picture" class="chat-avatar">
          }
          <div class="chat-info">
            <div class="chat-name">{{chat.users[0].email}}</div>
            <div class="chat-preview"></div>
          </div>
        </a>
        </div>
      </div>
    </div>
  
    <div class="chat-window">
        <router-outlet></router-outlet>
    </div>
  </div>