body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  font-family: Arial, sans-serif;
}


.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.navbar {
  background-color: #0D1B2A;
  color: #FFFFFF;
  padding: 10px;
  text-align: center;
}

.chat-app {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.chat-sidebar {
  width: 25%;
  background-color: #E5E5E5;
  display: flex;
  flex-direction: column;
  border-left: 2px solid #0D1B2A;
  border-right: 2px solid #0D1B2A;
  border-bottom: 2px solid #0D1B2A;
  height: 100%;
  overflow: hidden;
}


.chat-header {
  padding: 15px;
  background-color: #FFFFFF;
  border-bottom: 1px solid #ddd;
}

.chat-list {
  flex: 1;
  overflow-y: auto;
}


.chat-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  transition: background-color 0.2s;
}

.chat-item:hover {
  background-color: #EEE;
}

.chat-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.chat-info {
  flex: 1;
}

.chat-name {
  font-weight: bold;
}

.chat-preview {
  color: #999;
}

.chat-window {
  flex: 1;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #0D1B2A;
  font-size: 18px;
  padding: 20px;
  text-align: center;
}

.chat-window h3{
  padding-bottom: 0;
  margin-bottom: 0;
}

.chat-window i {
  font-size: 48px;
}
