<div class="wrapper">
    <header class="page-header">
      <nav>
        <h2 class="logo">CodeLag</h2>
        <ul>
      
        </ul>
      </nav>
    </header>
    <div class="row">
        <div class="card">
            <h1>Bienvenido </h1>
            <p>Estamos trabajando en esto lo mas rapido posible.</p>
            <p>Disculpa las molestias.</p>
        </div>
    </div>
    <main class="page-main">
      <div>
        <h1>Bienvenido </h1>
        <p>Estamos trabajando en esto lo mas rapido posible.</p>
        <p>Disculpa las molestias.</p>
      </div>
    </main>
  </div>