<ngx-extended-pdf-viewer 
[src]="'https://servertorreon.ddns.net/pdf/' + tutorial.pdfTutorial?.uniqueName + '.pdf'"
[contextMenuAllowed]="false" 
[enableDragAndDrop]="false" 
[enablePrint]="false" 
[textLayer]="false" 
[handTool]="false"
[enablePrintAutoRotate]="false"
[showBorders]="false"
[showSidebarButton]="false"
[showFindButton]="false"
[showPagingButtons]="false"
[showZoomButtons]="false"
[showPresentationModeButton]="false"
[showOpenFileButton]="false"
[showPrintButton]="false"
[showDownloadButton]="false"
[showSecondaryToolbarButton]="false"
[showRotateButton]="false"
[showScrollingButton]="false"
[showSpreadButton]="false"
[showPropertiesButton]="false"
[showBorders]="false"
[showHandToolButton]="false"
[showBookModeButton]="false"
[showSecondaryToolbarButton]="false"
[showRotateButton]="false"
[showOpenFileButton]="false"
[showPrintButton]="false"
[showPagingButtons]="false"
[showZoomButtons]="false"

></ngx-extended-pdf-viewer>