<div class="area"></div>
<nav class="main-menu">
    <ul>
        <li>
            <a routerLink="/home">
                <i class="fa bi-house fa-2x"></i>
                <span class="nav-text">Inicio</span>
            </a>
        </li>
        <li class="has-subnav">
            <a routerLink="users">
                <i class="fa bi-people fa-2x"></i>
                <span class="nav-text">Tabla de usuarios</span>
            </a>
        </li>
        <li class="has-subnav">
            <a routerLink="minecraft">
                <i class="fa bi-box fa-2x"></i>
                <span class="nav-text">Minecraft</span>
            </a>
        </li>
        <li class="has-subnav">
            <a routerLink="tutorial">
                <i class="fa bi-bar-chart-steps fa-2x"></i>
                <span class="nav-text">Tutoriales</span>
            </a>
        </li>
    </ul>
    <ul class="settings">
        <li>
            <a routerLink="settings">
                <i class="fa bi-gear fa-2x"></i>
                <span class="nav-text">Configuración</span>
            </a>
        </li>
    </ul>
    <ul class="logout">
        <li>
            <a (click)="closesession()">
                <i class="fa bi-box-arrow-right fa-2x"></i>
                <span class="nav-text">Logout</span>
            </a>
        </li>
    </ul>
</nav>
